html, body {
  margin: 0;
  line-height: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.vertical-align {
  vertical-align: top;
}

.margin-right-16 {
  margin-right: 16px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.square {
  display: inline-block;
  width: 100px;
  height: 100px;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.cyan {
  background-color: cyan;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.purple {
  background-color: purple;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

#main-title {
  margin: 0 0 16px;
  padding: 16px;
  text-align: center;
  background-color: black;
  color: white;
}

#checkerboard-size {
  width: 40px;
  height: 40px;
  border: 2px solid black;
  text-align: center;
  font-size: 16px;
}

#submit-button {
  width: 80px;
  height: 80px;
  background-color: green;
  color: white;
  border: 1px solid green;
  border-radius: 100%;
  font-size: 24px;
}
